In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

# Question 4

df = pd.read_csv("thyroid.csv")
display(df)

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH,Outcome
0,107.0,10.1,2.2,0.9,2.7,1.0
1,NaN,9.9,3.1,2.0,5.9,1.0
2,127.0,12.9,2.4,NaN,0.6,1.0
3,109.0,NaN,1.6,1.4,1.5,1.0
4,105.0,7.3,1.5,NaN,-0.1,1.0
...,...,...,...,...,...,...
180,88.0,16.5,4.9,0.8,0.1,2.0
181,97.0,15.1,1.8,1.2,-0.2,2.0
182,106.0,13.4,3.0,1.1,0.0,NaN
183,79.0,19.0,5.5,NaN,0.3,2.0
184,92.0,11.1,2.0,0.7,-0.2,2.0

In [2]:
# 4_a

thyroid_trian , thyroid_test = train_test_split(df, test_size = 0.2, random_state = 7)
print('train \t', thyroid_trian.shape)
print('test \t', thyroid_test.shape)

train 	 (148, 6)
test 	 (37, 6)

In [3]:
# 4_c

display(thyroid_trian['Outcome'].value_counts())

s = thyroid_trian['Outcome'].value_counts().sum()
thyroid_trian['Outcome'].value_counts()[1] / s
print( 'train : \nDistribution Of 1.0 :' , round(thyroid_trian['Outcome'].value_counts()[1] * 100 / s, 2), '%')
print( 'Distribution Of 2.0 :' , round(thyroid_trian['Outcome'].value_counts()[2] * 100 / s, 2), '%')

1.0    115
2.0     22
Name: Outcome, dtype: int64

train :
Distribution Of 1.0 : 83.94 %
Distribution Of 2.0 : 16.06 %

In [4]:
display(thyroid_test['Outcome'].value_counts())

s = thyroid_test['Outcome'].value_counts().sum()
thyroid_test['Outcome'].value_counts()[1] / s
print( 'test : \nDistribution Of 1.0 :' , round(thyroid_test['Outcome'].value_counts()[1] * 100 / s, 2), '%')
print( 'Distribution Of 2.0 :' , round(thyroid_test['Outcome'].value_counts()[2] * 100 / s, 2), '%')

1.0    29
2.0     8
Name: Outcome, dtype: int64

test :
Distribution Of 1.0 : 78.38 %
Distribution Of 2.0 : 21.62 %